ul {
    list-style-type: none;
}

.button-primary {
    margin-top: 20px;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.remove-food {
    padding: 0px 7px;
    border: 1px solid #DDD;
    cursor: pointer;
    border-radius: 4px;
}

.remove-food:hover {
    background: #FFD9D9;
}

.food {}

.calories {
    margin-right: 10px;
    font-style: italic;
}